.LoginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.LoginFormContainer {
  user-select: none;
  text-align: center;
  /* margin-bottom: 20px; */
  /* border: 1px solid black; */
  padding: 20px;
  min-width: 300px;
  font-size: xx-large;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.267),
    0 6px 20px 0 rgba(0, 0, 0, 0.267);
  cursor: pointer;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.LoginFormInput {
  font-size: large;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(248, 168, 20);
  padding: 5px;
}

.LoginFormInput:focus {
  border: 2px solid rgb(6, 98, 247);
  transition: 0.3s ease-in-out;
}

.LoginWrapper {
  background-color: whitesmoke;
}
