.MenuContainer {
  background-color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 56px;
}

.MenuHeading {
  color: rgb(4, 50, 122);
}

.MenuHeadingButton {
  margin-right: 10px;
}
