.PlaceOrderUnderConstruction {
  margin: 20px;
  background-color: white;
  margin-top: 20px;
  max-width: fit-content !important;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.PlaceOrderButton {
  margin-right: 10px;
}
