.RestaurantSelectionMessaage {
  font-family: ubuntu;
  color: rgb(0, 21, 54);
  background-color: rgb(248, 168, 20);
  font-size: larger;
  padding: 5px;
  border-radius: 2px;
}

.RestaurantSelectionBody {
  background-color: whitesmoke;
}
