.SelectContainer {
  padding: 20px;
  background-color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  margin-top: 76px;
  min-height: 80vh;
}
